.MuiTypography-h6 {
  font-size: 1.55rem !important;

  font-family: var(--font-family) !important;

  color: var(--dark-text);

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.0075em;

  padding-left: 12px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}